<h1>Update Basketball event</h1>

<%= form_for @basketball,:url => { :action => "update" } do |f| %>
	<p> 
		<%= f.label :date %> 
		<%= date_field(:basketball, :date) %>
		
		<%= f.label :time %> 
		<%= time_field(:basketball, :time) %>
	</p>
	<p> 
		<!-- Team 1 -->
		<%= f.label :"Team 1" %> 

		<%= f.select(:team1, content_tag(:option, "Select a team", :value=> "" ) + options_from_collection_for_select(@teams.all, :teamName, :teamName, @basketball.team1) ) %>
		<!-- Team 2 -->
		<%= f.label :"Team 2" %> 
		<%= f.select(:team2, content_tag(:option, "Select a team", :value=> "" ) + options_from_collection_for_select(@teams.all, :teamName, :teamName, @basketball.team2) ) %>
	</p>
	<p> 
		<%= f.label :location %> 
		<%= f.text_field :location %>
	</p>
	<p> 
		<%= f.label :status %> 
		<%= f.select(:status, options_for_select([ 
								["Not-started", "Not-started"], 
								["Started", "Started"], 
								["Finished", "Finished"] ], @basketball.status) ) %>
	</p>
	<p> 
		<%= f.label :winner %> 
		<%= f.select(:winner, content_tag(:option, "Select a team", :value=> "" ) + options_from_collection_for_select(@teams.all, :teamName, :teamName, @basketball.winner) ) %>
	</p>	
	<p> 
		<%= f.label :score %> 
		<%= f.text_field :score %>
	</p>
	<p>
		<%= f.submit "Update", :onclick => "return validateform();" %>
		<%= f.submit "Cancel" %>
	</p>
<% end %>
