<h1>Basketball games list</h1>

<!-- For every flash message, display them -->
<% flash.each do |key, value| %>
	<%= content_tag :div, value, class: "flash #{key}" %>
<% end %>

<br />

<table border="1">
<tr>
	<th>Time</th>
	<th>Teams</th>
	<th>Location</th>
	<th>Status</th>
	<th>Winner</th>
	<th>Score</th>
	<th>Action</th>
</tr>
<!-- loop through the basketballs variable -->
<!-- This needs to check if if the array is EMPTY -->
<% @basketballs.each do |basketball| %>
	<tr>
		<!-- output basketballs.field -->
		<!-- Problem : 
				basketball time stores a default date value, I didn't have time
				to research how to concatenate date and time together as a result to map into DB.
				essentially this solution is a HACK -->
		<td><%= "#{basketball.date} #{basketball.time.strftime('%H:%M:%S')}" %></td>
		<td><%= basketball.team1 %> <br /> <%= basketball.team2 %></td>
		<td><%= basketball.location %></td>
		<td><%= basketball.status %></td>
		<td><%= basketball.winner %></td>
		<td><%= basketball.score %></td>
		<td><input type="button" value="<%= basketball.id %>"></td>
	</tr>
<% end.empty? and begin %>
	<tr>
		<td colspan="7">No basketball event records found!</td>
	</tr>
<% end %>
</table>

<!-- Create a button using ruby, link it to the controller method new, action of get -->
<%= button_to "New event", new_basketball_path, :class => "button", :method => :get %>