<h1>Basketball games list</h1>

<!-- For every flash message, display them -->
<% flash.each do |key, value| %>
	<%= content_tag :div, value, class: "flash #{key}" %>
<% end %>

<br />

<table border="1">
<tr>
	<th>Time</th>
	<th>Teams</th>
	<th>Location</th>
	<th>Status</th>
	<th>Winner</th>
	<th>Score</th>
	<th>Action</th>
</tr>
<!-- loop through the basketballs variable -->
<!-- This needs to check if if the array is EMPTY -->
<% @basketballs.each do |basketball| %>
	<tr>
		<!-- output basketballs.field -->
		<td><%= basketball.time %></td>
		<td><%= basketball.teams %></td>
		<td><%= basketball.location %></td>
		<td><%= basketball.status %></td>
		<td><%= basketball.winner %></td>
		<td><%= basketball.score %></td>
		<td><input type="button" value="<%= basketball.id %>"></td>
	</tr>
<% end %>
</table>

<!-- Create a button using ruby, link it to the controller method new, action of get -->
<%= button_to "New event", new_basketball_path, :class => "button", :method => :get %>