<h1>Create new Basketball event</h1>

<!-- form_for @basketball do threw an error, code below solves for Rails 4.0.X -->
<%= form_for @basketball,:url => { :action => "create" } do |f| %>
	<p> 
		<%= f.label :date %> 
		<%= date_field(:basketball, :date) %>
		
		<%= f.label :time %> 
		<%= time_field(:basketball, :time) %>
	</p>
	<p> 
		<!-- Team 1 -->
		<%= f.label :"Team 1" %> 
		<!-- Explanation : 
			Target action :team1 field
			Loop all select options from an array provided with team name
			Include a blank select -->
		<%= f.select(:team1, options_from_collection_for_select(@teams.all, :teamName, :teamName), :include_blank => "Select a team" ) %>
		<!-- Team 2 -->
		<%= f.label :"Team 2" %> 
		<%= f.select(:team2, options_from_collection_for_select(@teams.all, :teamName, :teamName), :include_blank => "Select a team" ) %>
	</p>
	<p> 
		<%= f.label :location %> 
		<%= f.text_field :location %>
	</p>
	<p> 
		<%= f.label :status %> 
		<%= f.select(:status, options_for_select([ 
								["Not-started", "Not-started"], 
								["Started", "Started"], 
								["Finished", "Finished"] ]) ) %>
	</p>
	<p> 
		<%= f.label :winner %> 
		<%= f.select(:winner, options_from_collection_for_select(@teams.all, :teamName, :teamName), :include_blank => "Select a team" ) %>
	</p>	
	<p> 
		<%= f.label :score %> 
		<%= f.text_field :score %>
	</p>
	<p>
		<!-- form submit tag, onclick event trigger validation event, if click replace value with "Please wait..." -->
		<%= f.submit "Submit", :onclick => "return validateform();" %>
		<%= f.submit "Cancel" %>
	</p>
<% end %>
